<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SenderEmail" value="singh.shobhit4225@gmail.com"/>
		<add key="SenderDisplayName" value="Shobhit Singh"/>
		<add key="SenderAppPassword" value="zqqkevocbwudpwck"/>
		<add key="GmailSmtpServer" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
	</appSettings>
</configuration>